body{
    padding:25px;
}
#container1{
    background-color:orange;
    color:white;
    margin-bottom:10px;
    font-size:30px;
    height:100px;
    padding:25px;
    text-align:center;
    
}
#container2{
    background-color: bisque;
    color:green;
    margin-bottom:10px;
    font-size:30px;
    text-align: justify;

}
#randomNumber{
    background-color:green;
    height:100px;
    color:white;
}
#winloss{
    background-color:darkcyan;
    height:100px;
    color:white;
    margin-bottom:10px;
}
#totalScore{
    background-color:orange;
    color:white;
    
}
#totalScore2{
    background-color: bisque;
    height:100px;
    align-content: center;
    font-size:30px;
    color:green;
    margin-bottom:10px;
}

#crystals{
    height:100px;
    background-color:darkcyan;
    margin-bottom:10px;
    
}
#red, #blue, #white, #yellow{
width:75px;
height:75px;
background-size:75px;
background-repeat:no-repeat;
}
#totalScore{
    font-size:30px;
}
#win-area{
    background-color: green;
    height:100px;
    font-size:30px;
    color:white;
}



